.productListItem {
  padding: 1.6rem;
}
.productListItem:hover {
  box-shadow: 0px 4px 35px 0px #a8acb030;
}
.imgContainer {
  height: 33rem;
  overflow: hidden;
  position: relative;
}
.imgContainer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #8d8f9a;
}
.featuredImage {
  width: 100%;
}
.nameAndPrice {
  position: relative;
}
.nameAndPrice p {
  font-size: 1.8rem;
  line-height: 2.88rem;
}
.name {
  margin-top: 2.4rem;
}
.name + p {
  font-weight: 500;
}
.outOfStock {
  opacity: 0.5;
}
.productListItem:hover > div > button {
  opacity: 1;
  visibility: visible;
}
