.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  position: sticky;
  z-index: 2;
  background-color: #ffffff;
  top: 0;
}
.navbar > * {
  flex: 1;
}
.logo {
  text-align: center;
}
.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
