.singleProduct {
  display: flex;
  max-width: 112rem;
  margin-top: 8rem;
  margin-bottom: 7rem;
}
.singleProduct > div:first-child {
  width: 7.143%;
}
.singleProduct > div:first-child img {
  width: 100%;
  margin-bottom: 4rem;
  cursor: pointer;
}
.singleProduct > div:nth-child(2) {
  width: 54.46%;
  margin-left: 3.57%;
  margin-right: 8.93%;
  max-height: 51rem;
  overflow: hidden;
}
.singleProduct > div:nth-child(3) {
  width: 38.397%;
}
.singleProduct > div:nth-child(2) img {
  width: 100%;
}
.singleProduct button {
  cursor: pointer;
}
.singleProduct span {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
