* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

p,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d1f22;
  font-weight: 400;
}

button:focus,
a:focus {
  outline: none;
  border: none;
}

.App {
  max-width: 124rem;
  margin: 0 auto;
}

/*  Override Minicart cart defaults */
.App .minicart .swatch {
  padding: 1rem;
}
.App .minicart .selectedAttr:not(.swatch) {
  background-color: #ffffff !important;
  color: #1d1f22;
}
.minicart aside > div > div:nth-child(1) div div button:not(.swatch) {
  background-color: rgba(166, 166, 166, 0.2) !important;
  color: #a6a6a6;
}
/* Add nice button click effect */
button:active {
  transform: translateY(0.2rem);
}
button.atcbtn:active {
  transform: translateY(-40%);
}
button.atcbtn:disabled:active {
  transform: translateY(-50%);
}

/* 404 page */
.errorNotFound {
  text-align: center;
  margin-top: 5rem;
}

/* Loader */
.loader {
  margin: 25vh auto 0;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #5ece7b;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
